---
layout: default
---
{% assign lang = page.lang | default: site.lang %}
{% assign t = site.data.i18n[lang] %}
{% assign posts = site.posts | where: "lang", lang %}
<section class="section">
  <div class="container">
    <div class="section__header">
      <h1 class="section__title">{{ t.blog.title }}</h1>
      <p class="section__subtitle">{{ t.blog.subtitle }}</p>
    </div>
    <div class="grid grid--3col">
      {% for post in posts %}
        {% include post-card.html post=post %}
      {% endfor %}
    </div>
  </div>
</section>
